:root {
    --color-teal: #4D96A9;
    --color-purple: #855FB1;
    --color-dark-purple: #28283D;
    --color-light-purple: #D9B8FF;
    --color-gray: #87879D;
    --color-sky: #8FE3F9;
    --color-white: #FAFAFA;
    
    --space-unit: 1.6em;
    --space-xxs: calc(0.25 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: var(--color-white);
    font-size: 62.5%;
}
body{
    font-family: "Red Hat Display", sans-serif;
    color: var(--color-dark-purple);
}
.main{
    margin-top: var(--space-xl);
    display: grid;
    place-items: center;
}

/******************/
/* hero section */
/******************/
.section-hero{
    margin: var(--space-xxl) -4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left-hero-image{
    margin-bottom: var(--space-xl);
}
.right-hero-image{
    margin-top: var(--space-xl);
}
.hero-text{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    padding: 0 var(--space-xl);
}
.hero-text p{
    font-size: 1.6rem;
    color: var(--color-gray);
    font-weight: 450;
}
h1{
    font-size: 6.4rem;
    line-height: 1;
}
.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-md)
}
.v1{
    color: var(--color-sky);
}
.btn, .btn:link, .btn:visited{
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.6rem 3.2rem;
    border-radius: 100rem;
    text-decoration: none;
    transition: all 0.3s;
    border: none;
    cursor: pointer;
    font-family: inherit;
}
.btn--left:link, 
.btn--left:visited{
    background-color: var(--color-teal);
    color: var(--color-white);
}
.btn--right:link, 
.btn--right:visited{
    background-color: var(--color-purple);
    color: var(--color-white);
}
.btn--left:hover, 
.btn--left:active{
    background-color: #70c0d5;
}
.btn--right:hover, 
.btn--right:active{
    background-color:#b18add;
}

/********************/
/* Icon */
/********************/

.wrecking-ball-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    width: .1rem;
    height: 7.5rem;
    background-color: #ccc;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border: .1rem solid #ccc;
    border-radius: 50%;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-gray);
    background-color: var(--color-white);
}

/*******************/
/* Gallery Section */
/*******************/

.section-gallery{
    padding: var(--space-xl) var(--space-xxl);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-lg);
}
.gallery-image{
    width: 100%;
    border-radius: 1rem;
}
/*******************/
/* Description Section */
/*******************/
.section-description{
    padding: var(--space-xl) 0;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
}
.description-text-box{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-column: 2 / 4;
    row-gap: 2rem;
    padding: 0 var(--space-xl);
}
.teal-uppercase-text{
    font-size: 1.6rem;
    letter-spacing: .4rem;
    text-transform: uppercase;
    color: var(--color-teal);
    font-weight: 700;
}
h2{
    font-size: 4.4rem;
}
.description-text{
    font-size: 1.6rem;
    color: var(--color-gray);
    font-weight: 450;
    line-height: 1.5;
}

/*******************/
/* Footer */
/*******************/

/* .footer{
    width: 100%;
    background-image:linear-gradient(to right bottom,
    rgba( 77, 151, 169, 0.874),
    rgba( 143, 228, 249, 0.836)),
    url("../starter-code/assets/desktop/image-footer.jpg");
    background-size: cover;
    background-position: top;
} */
.footer {
    margin-top: -2rem;
    max-width: 100%;
    min-height:30.8rem;
    background-image: 
        linear-gradient(
            to right bottom,
            rgba(77, 151, 169, 0.874),
            rgba(143, 228, 249, 0.836)
        ),
        url("../starter-code/assets/desktop/image-footer.jpg");
    background-size: cover;
    background-position: top;
    display: grid;
    grid-template-columns: 1fr;
    
    padding: 0 10rem;
    color: var(--color-white);
    gap: 10rem;
}
.footer-content{
    width: 100%;
}

h3{
    font-size: 4.2rem;
    line-height: 1;
}
.footer-text{
    font-size: 1.6rem;
    font-weight: 450;
    line-height: 1.5;
}
.footer-content{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 10rem;
}

.v1-3{
    color: var(--color-light-purple);
}
@media(max-width: 23.5em){
    .main{
        
        width: 100%;
    }
    .section-hero{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 2fr;
    }
    .hero-content{
        width: 100%;
        display: grid;
        
    }
    .left-hero-image{
        grid-column: 1 / 3;
    }
    .right-hero-image{
        grid-column: 3/  5;
    }
    .hero-text{
        grid-row: 2;
        grid-column: 2/4;
    }
    .footer{
        width: 100%;
        
        
    }
    .section-gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}



    

